@import './../../../../assets/styles/abstracts/';
.my-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 950px;
  margin: 0 auto;
  h3 {
    margin-top: 70px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
  }
  p {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: $primaryGray;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .service-card {
      &:hover{
        transition: 0.6s;
        transform: scale(1.1);
      }
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      width: 300px;
      height: 215px;
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        margin-top: 26px;
        margin-bottom: 23px;
        height: 70px;
        width: 74px;
        color: $primaryYellow;
      }
      h4 {
        margin-bottom: 18px;
        font-weight: 500;
        font-size: 18px;
        line-height: 123.6%;
        text-transform: capitalize;
      }
      .service-description {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}
