.header{
  z-index: 33;
  background-color: rgba(102, 51, 153, 0.135);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 40px;

}