@import "./../../assets/styles/abstracts";
.extra-skills {
  h2 {
    margin-bottom: 15px;
  }
  div {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-bottom: 5px;
    .skills-icon {
      width: 20px;
      height: 20px;
      color: $primaryYellow;
    }
    span {
      font-weight: 400;
    }
  }
}
