.home-page {
  @media only screen and (max-width: 1290px) {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
  }
}
.hidden{
  opacity:0;
  filter:blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}