$background: #000;
$text: #2b2b2b;

[data-theme="dark"] {
  $background: #2b2b2b;
  $text: white;
}
$primaryblack: #2b2b2b;
$secondaryblack: #242526;
$primaryYellow: #ffb400;
$white: #f0f0f6;
$primaryGray: #767676;

$themes: (
  light: (
    colorText: #2b2b2b,
    colorBackground: #fff,
  ),
  dark: (
    colorText: #fafafa,
    colorBackgroundFirst: rgb(24, 25, 26),
    colorBackground: #242526,
  ),
);
