:root {
  --background: white;
  --text: #2b2b2b;
  --primaryYellow: #ffb400;
  --labelcolor: #475467;
  --navbarColor: #fff;
  --iconColor: #767676;
}
[data-theme="dark"] {
  --background: rgb(10, 25, 41);
  --text: rgba(255, 255, 255, 0.81);
  --primaryYellow: #ffb400;
  --primaryGray: #767676;
  --labelcolor: rgba(255, 255, 255, 0.761);
  --navbarColor: rgba(0, 0, 0, 0.821);
  --iconColor: #767676;

  .transition-enabled {
    transition: none !important;
  }
}
